<div class="mt-24 bg-gray-800 dark:bg-gray-800">
  <div class="container px-4 py-12 sm:px-6 lg:py-16 lg:px-8">
    <div>
      <h4 class="font-semibold tracking-wider text-gray-300 leading-5">
        <%= img_tag(
          PlausibleWeb.Router.Helpers.static_path(
            @conn,
            logo_path("logo_dark.svg")
          ),
          class: "inline-block w-40 mr-1",
          alt: "Plausible logo",
          loading: "lazy"
        ) %>
      </h4>
      <p class="mt-4 text-base text-gray-400 leading-6">
        <%= if ee?() do %>
          Made and hosted in the EU <span class="text-lg">🇪🇺</span> <br />
          Solely funded by our subscribers.
        <% end %>

        <%= if ce?() do %>
          This dashboard is running on self-managed infrastructure, not tested by Plausible Analytics. We cannot vouch for its performance or reliability. For official managed hosting, check out
          <.styled_link href="https://plausible.io">
            plausible.io
          </.styled_link>
        <% end %>
      </p>
    </div>
  </div>
</div>
